<input type="hidden" name="<?= $this->getNamePrefix() ?>" value="" /><!-- this is send if nothing is checked -->
<?php if ($this->isApiConfigPresent()) :?>
    <?php $products = $this->getValues() ?>
    <?php if (array_key_exists('ERROR', $products)) :?>
        <?= $products['ERROR'] ?>
    <?php else :?>
        <ul class="checkboxes">
            <?php foreach ($products as $name => $product): ?>
                <li>
                    <input type="radio" value="<?= $name?>"
                        name="groups[holm_partner][fields][products][value]"
                        id="<?= $this->getHtmlId() . '_' . $name ?>"
                        <?= ($this->getIsChecked($name) ? ' checked="checked"' : '') ?>
                    />
                    <label for="<?= $this->getHtmlId() . '_' . $name ?>">
                        <img style="vertical-align: middle;" src="<?= $product['image'] ?>" width="68px" alt="product-icon"/>
                         <?= $product['name'] ?>
                    </label>
                </li>
            <?php endforeach;?>
        </ul>
    <?php endif ?>
<?php else :?>
    <p>API configuration required to get products</p>
<?php endif ?>
